<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAFIB</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>
    <div class="page-header p-0">

        <h1 class="text-center"><a class="alert-link" asp-action="Index" asp-controller="Home">Тестовое задание САФИБ</a></h1>
    </div>
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
